.TopBanner {
    /* height: calc(100vh - 72px); */
    position: relative;
    background-image: linear-gradient(#1a1738, #16132e);
}

.TopBanner .text-slide {
    position:relative;
    z-index:10;
    margin-bottom: 15%;
}

.TopBanner .animate-image {
    position:absolute;
    top:0;
    width:100%
}

.TopBanner .animate-image img {
    width: 100%;
}

.TopBanner .animate-image .row {
    justify-content: space-between;
}

.TopBanner .topleft {
    width: 12%;
    position: relative;
    left: -150px;
}

.TopBanner .topright {
    position: relative;
    right: -39px;
    top: 90px;
}


.TopBanner .animate-image .bottomleft {
    position: relative;
    left: -160px;
    bottom: -50px;
}

.TopBanner .animate-image .bottomright {
    position: relative;
    right: -39px;
}

.TopBanner .animate-image .topright,
.TopBanner .animate-image .bottomleft {
    align-self: center;
}
.TopBanner .animate-image {
    position: relative;
}

.TopBanner .animate-image .row:first-child {
    margin-bottom: 12%;
}

.TopBanner .animate-image {
    position: absolute;
}

.TopBanner .container h1{
    text-align: left;
    font-size: 150px;
    font-weight: 900;
    color: white;
}

.TopBanner .container h1 span,
.TopBanner-mobile .container h1 span {
    color:#49ebc4;
}

.TopBanner .container > p {
    color: white;
    text-align: left;
    font-size: 16px;
}

.TopBanner-mobile .container > p {
    color: white;
    text-align: left;
    font-size: 14px;
}

.TopBanner .container form h6,
.TopBanner-mobile .container form h6 {
    color:white;
    text-align: left;
    font-weight: 900;
}

.TopBanner .container form .form-control,
.TopBanner-mobile .container form .form-control {
    background: #16132e;
    border-color: #49ebc4;
    border-radius: 50px;
    padding: 0.5rem 1rem;
}

.TopBanner .container form .form-control:focus,
.TopBanner-mobile .container form .form-control:focus {
    background: #16132e;
    border-color: #6128bf;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    box-shadow: none;
}

.TopBanner-mobile .container form .my-1 {
    width: 50%;
    display: inline-block;
}

.TopBanner .container form button {
    background: #6128bf;
    padding: 0.5rem 3rem;
    border-radius: 50px;
    border-color: #6128bf;
    font-weight: 900;
}

.TopBanner .container form button:hover {
    background: #50219D;
    padding: 0.5rem 3rem;
    border-radius: 50px;
    border-color: #50219D;
    font-weight: 900;
    color: white;
}

.TopBanner-mobile .container form button {
    background: #6128bf;
    padding: 0.5rem 2rem;
    border-radius: 50px;
    border-color: #6128bf;
    font-weight: 900;
}

.TopBanner-mobile img {
    width: 100%;
}





.TopBanner-mobile .container h1{
    text-align: left;
    font-size: 60px;
    font-weight: 900;
    color: white;
}




@media screen and (max-width: 600px) {
    .TopBanner {
      display: none;
    }
}

@media screen and (min-width: 600px) {
    .TopBanner-mobile {
      display: none;
    }

    .TopBanner .container h1 {
        text-align: left;
        font-size: 100px;
        font-weight: 900;
        color: white;
    }

}

@media screen and (max-width: 991px) {
    .TopBanner .container h1 {
        text-align: left;
        font-size: 100px;
        font-weight: 900;
        color: white;
    }
}

@media screen and (max-width: 600px) {
    .TopBanner .container h1 {
        text-align: left;
        font-size: 100px;
        font-weight: 900;
        color: white;
    }
}
